/* 
    Copyright 2022 HolyCorn Software
    The HCTS Project

    Check the description of this widget (waiting) at ./waiting.mjs
 */

.hcts-inline-payment-settle-waiting>.container {
    font-family: bariolBold;
    min-width:250px;
}

.hcts-inline-payment-settle-waiting>.container {
    display: flex;
    flex-direction: column;
    gap: 1em;
    align-items: center;
}
.hcts-inline-payment-settle-waiting>.container >.text{
    text-align:right;
}

.hcts-inline-payment-settle-waiting>.container>.spinner img {
    max-width: 2em;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.hcts-inline-payment-settle-waiting>.container>.actions {
    display: flex;
    width: 100%;
}

.hcts-inline-payment-settle-waiting>.container>.actions>* {
    flex-grow: 1;
}

.hcts-inline-payment-settle-waiting>.container .hc-action-button >.container{
    border-radius:0.85em;
    font-size:0.75em;
}