/*  
    Copyright 2022 HolyCorn Software
    The Donor Forms Project
    This stylesheet gives style to the payment-manager details widget with respect to general properties
*/


.hc-donorforms-payment-manager-details >.container {
    display:flex;
    flex-direction:column;
    gap:2.5em;
}

.hc-donorforms-payment-manager-details >.container >.data{
    border-collapse:collapse;
    border-spacing:0px 3em;
    font-family: k2dThin;
    width:100%;
}

.hc-donorforms-payment-manager-details >.container >.data >tbody > tr{
    background-color: rgb(223, 237, 243);
}

.hc-donorforms-payment-manager-details >.container >.data >tbody > tr >td{
    padding:0.35em;
    padding-top:0.75em;
    padding-bottom:0.75em;
}

.hc-donorforms-payment-manager-details >.container >.data >tbody > tr:nth-child(even){
    background-color: #f1dcdc;
}

.hc-donorforms-payment-manager-details >.container >.actions{
    display:flex;
    justify-content:space-evenly;
    flex-wrap:wrap;

    background-color: #F8F8F8;
    border-radius:9px;
    max-width:400px;
    position:relative;
    padding:0.5em;
    gap:2em;
}