/*  
    Copyright 2023 HolyCorn Software
    The Faculty of Finance.
    The payment-manager widget.
    This stylesheet decorates the widget.
*/

.hc-finance-payment-manager-entry-payment-method>.container {
    position: relative;
    display: flex;
    gap: 0.5em;
    align-items: center;
}

.hc-finance-payment-manager-entry-payment-method>.container>img {
    width: 3em;
    height: 3em;
    object-fit: contain;
    object-position: center;
}

.hc-finance-payment-manager-entry-payment-method>.container>.label {
    font-size: 0.75em;
}