/*  
    Copyright 2022 HolyCorn Software
    The CAYOFED People System
    The Faculty of Finance
    This stylesheet adjusts the looks of the UI where clients see the status of their mobile money payment 
*/


.hc-cayofedpeople-flutterwave-momo-status >.container{
    display:inline-flex;
    max-width:250px;
    flex-direction: column;
    background-color:rgb(198, 232, 243);
    border-radius:10px;
    padding:0.5em;
}

.hc-cayofedpeople-flutterwave-momo-status >.container >.main{
    display:flex;
    gap:1em;
}

.hc-cayofedpeople-flutterwave-momo-status >.container >.main >.wait-text{
    font-size:0.9em;
    font-family:k2dThin;
    text-align: left;
}

.hc-cayofedpeople-flutterwave-momo-status >.container >.main >img{
    max-width:4.25em;
    max-height:4.25em;
    pointer-events:none;
}